<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <header>
        <nav class="d-flex justify-content-between align-items-center">
            <form action="/login" method="post">
                
                    <label for="email" class="email"><b>E-mail:</b></label>
                    <input type="text" id="email" name="email" >

                    <label for="password" class="email"><b>Contraseña:</b></label>
                    <input type="password" id="password" name="password">

                <input type="submit" value="Iniciar Sesión" class="btn btn-warning m-4">
            </form>
        </nav>
    </header>
    <main>
        <div class="main-top" id="logo">
            <img src="../static/images/cannapp1.png" alt="cannapp_logo" />
        </div>
        <div class="main-bottom">
            <div class="col-12">
                <video class="img-fluid" autoplay muted loop>
                    <source src="../static/video/plant modified.mp4" type="video/mp4">
                </video>
            </div>
                <a href="/registro_cultivador" class="btn btn-success">Registro cultivador</a> 
                <a href="/registro_comprador" class="btn btn-success">Registro comprador</a> 
        </div>
    </main>
</body>
</html>
