<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
        <link rel="shortcut icon" href="../static/images/logo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/mi_perfil_cultivador.css">
</head>
<body>
    <div class="container">
        <div class="col-12">
            <header class="d-flex justify-content-between align-items-center" id="barra">
                <img class="logo" src="../static/images/logo claro.png" alt="logo_claro"/>
                <h1>Bienvenid@ {{cultivator.full_name}}</h1>
                
                <a href="/muro_cultivador" class="btn btn-warning"><img src="../static/images/muro.jpg" alt="muro" class="muro"/>Muro</a>
                <a href="/logout" class="btn btn-danger"><img src="../static/images/salida.jpg" alt="salida" class="salida"/>Cerrar Sesión</a>
            </header>
            <hr>
            <h2>Informacion por cultivo</h2>
            
            <a href="/nuevo_dato" class="btn btn-secondary" id="btn"><img src="../static/images/escribir.jpg" alt="ing" class="ing"/>Ingresar datos</a>
            <button class="btn btn-success" id="btn" onclick="exportTableToExcel('datoscultivo', 'Reporte cultivo')"><img src="../static/images/export-excel.png" alt="excel" class="excel"/> Exportar a Excel</button>
            <br>
            <div style="overflow-x:auto;">
                <input type="hidden" value="{{cultivator.id}}" name="cultivator_id">
                <input type="hidden" value="{{crops.id}}" name="id">
                
                
                <table class="table table-hover table-table border table table-sm" id="datoscultivo">
                    <thead class="table-light">
                        <tr class="table align-middle" id="hide">
                            <th>Finca</th>
                            <th>Departamento</th>
                            <th>Municipio</th>
                            <th>Nombre del Fertilizante</th>
                            <th>Cantidad de fertilizante aplicado</th>
                            <th>Fecha de la cosecha</th>
                            <th>Enfermedades</th>
                            <th>Produccion</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crop in crops %}
                            <tr class="table align-middle">
                                <td>{{crop.farm}}</td>
                                <td>{{crop.state}}</td>
                                <td>{{crop.municipality}}</td>
                                <td>{{crop.fertilizer}}</td>
                                <td>{{crop.f_amount}}</td>
                                <td>{{crop.date}}</td>
                                <td>{{crop.disease}}</td>
                                <td>{{crop.production}}</td>
                                <td>{{crop.description}}</td>
                                <td>
                                    {% if crop.image != None %}
                                    <a href="{{url_for('static', filename='images/'+crop.image)}}" download><br>Descargar</a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/update/crop/{{crop.id}}" class="btn btn-secondary btn-sm " >Editar</a>
                                    <a href="/delete/crop/{{crop.id}}" class="btn btn-danger btn-sm delete" data-confirm="Esta seguro de eliminar este elemento?">Borrar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <h2>Portafolio de productos</h2>
            <a href="/nuevo_producto" class="btn btn-secondary"><img src="../static/images/canabis.jpg" alt="canabis" class="cannabis">Ingresar producto</a>
            <button class="btn btn-success" id="btn" onclick="exportTableToExcel1('datosproductos', 'Reporte productos')"><img src="../static/images/export-excel.png" alt="excel" class="excel"/> Exportar a Excel</button>

            <table class="table table-hover table-table border table table-sm" id="datosproductos">
                <thead class="table-light">
                    <tr class="table align-middle" id="enc">
                        <th>Producto</th>
                        <th>Descripcion</th>
                        <th>Punto de Venta</th>
                        <th>Presentacion</th>
                        <th>Precio</th>
                        <th>Foto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr  class="table align-middle">
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.p_sale}}</td>
                            <td>{{product.presentation}}</td>
                            <td>{{product.price}}</td>
                            <td>
                                {% if product.image != None %}
                                <a href="{{url_for('static', filename='images/'+product.image)}}" download><br>Descargar</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/update/product/{{product.id}}" class="btn btn-secondary btn-sm " >Editar</a>
                                <a href="/delete/product/{{product.id}}" class="btn btn-danger btn-sm delete" data-confirm="Esta seguro de eliminar este elemento?">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <script src="../static/js/tableToExel.js" ></script>
    <script src="../static/js/tableToExcel1.js" ></script>
    <script src="../static/js/app.js" ></script>
</body>
</html>