<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muro Compras</title>
    <link rel="shortcut icon" href="../static/images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/muro_comprador.css">


</head>
<body>
    <div class="container">
        <div class="col-12">
            <header class="d-flex justify-content-between align-items-center" id="barra">
                <img class="logo" src="../static/images/logo claro.png" alt="logo_claro"/>                
                <h1>Bienvenid@ {{comprador.full_name}}</h1>
<!--                <a href="/mi_perfil" class="btn btn-danger">Mi Perfil</a>-->
                <a href="/logout" class="btn btn-danger"><img src="../static/images/salida.jpg" alt="salida" class="salida"/>Cerrar Sesión</a>
            </header>
            <hr>
            <h4>Aqui podras comprar hojas de canabis o sus productos </h4>
            <br>

            <!--Barrra de busqueda de productos-->
            
            <!--Carrusel con los productos disponibles-->
            <div class="col-12">
                {% for cultivator in cultivators %}
                    <div class="card">
                        <div class="card-title">
                            
                            <h3><b>Vendedor:</b> {{cultivator.full_name}}</h3>
                        </div>
                        
                        <div class="card-body">
                            <div class="container">
                                <div class="row row-cols-4">
                                    {% for product in products %}
                                        <div class="col">
                                            <img class="foto" src="{{ url_for('static', filename='images/'+publicaciones.imagen ) }}" alt="foto" />
                                            <div>{{product.name}}</div>
                                            <div>{{product.descripcion}}</div>
                                            <div>{{product.presentation}}</div>
                                            <div>{{product.price}}</div>
                                            <a href="/comprar" class="btn btn-success"><img src="../static/images/Carrito compras.png" alt="comprar" class="comprar"/>Comprar</a>
                                        </div>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
