<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muro Compras</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='muro_cultivador.css')}}">

</head>
<body>
    <div class="container">
        <div class="col-12">
            <header class="d-flex justify-content-between align-items-center">
                <img src="../static/images/cannapp2.png" alt="cannapp_logo2" />
                <h1>Bienvenid@ {{user.first_name}}</h1>
<!--                <a href="/mi_perfil" class="btn btn-danger">Mi Perfil</a>-->
                <a href="/logout" class="btn btn-danger">Cerrar Sesión</a>
            </header>
            <hr>
            <h4>Aqui podras comprara los productos </h4>
            <br>

            <!--Barrra de busqueda de productos-->
            
            <!--Carrusel con los productos disponibles-->
            <div class="col-12">
                <div class="card">
                    <div class="card-title"></div>
                    <div class="card-body">
                        <div>
                            <b>Descripcion:</b> {{publicaciones.descripcion}}
                        </div>
                        <div>
                            <b>Imagen:</b> {{publicaciones.imagen}}
                            <img class="foto" src="{{ url_for('static', filename='images/'+publicaciones.imagen ) }}" alt="foto" />
                        </div>

                        <h4>Comentarios Recibidos</h4>
                    {% for comentario in comentarios %}
                        <div class="card">
                            <div class="card-title">{{comentario.sender}}dice:</div>
                            <div class="card-text">{{comentario.contenido}}
                            <a class="btn btn-danger" href="/eliminar/comentario/{{comentario.id}}">Borrar</a>
                            </div>
                        </div>
                    {% endfor %}

                        <hr>

                        <form action="/send_comentario" method="post">
                            <label for="comentario" class="comentario"><b> Escribe tu comentario:</b></label>
                            <input type="text" id="comentario" name="contenido" class="form-control">
                            <input type="hidden" value="{{publicaciones.id}}" name="publicacion_id">
                            <input type="hidden" value="{{user.id}}" name="user_id">
                            
    
                            <input type="submit" value="Enviar" class="btn btn-secondary btn-lg">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>