<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='registro_cultivador.css')}}">
</head>
<body>
    <br>
    <div class="container">
        <div>
            <h2>Regístrate y forma parte de esta gran comunidad</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                {% with messages = get_flashed_messages(category_filter=['registro1']) %}
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/registro_comprador" method="post"> 
                    <div class="form-group">
                        <label for="first_name"><b>Nombre completo o razon social:</b></label>
                        <input type="text" id="first_name" name="first_name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="identificacion"><b>Numero de identificacion:</b></label>
                        <input type="text" id="identificacion" name="identificacion" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email"><b>E-mail:</b></label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Password:</b></label>
                        <input type="password" id="password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password"><b>Confirma Password:</b></label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                    </div>
                    <br>
                    <input type="submit" value="Registrarme" class="btn btn-success">
                    
                    <a href="/" class="btn btn-warning">Inicio</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>