* {
    margin: 0px auto;
    padding: 0px auto;
    font-family: 'Signika Negative', sans-serif;
}

.logo {
    height: 3.5rem;
}

.btn {
    box-shadow: 2px 2px black;
}

.muro, .salida{
    height: 1.5rem;
    margin-right: 10px;
}

#barra {
    background-color: rgb(44, 82, 44);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color:rgb(44, 82, 44);
    font-weight: bold;
}
table {
    text-align: center;
    margin-top: 20px;
}

#btn {
    margin-right: 30px;
}

.excel {
    height: 1.5rem;
    margin-right: 10px;
}

.ing {
    height: 1.5rem;
    margin-right: 10px;
}

#hide {
    background-color: #f5ab34;
}

#enc {
    background-color: #fd626d;
}

.cannabis {
    height: 1.5rem;
    margin-right: 10px;
}
