* {
    margin: 0px auto;
    padding: 0px auto;
    font-family: 'Signika Negative', sans-serif;
}

#form  {
    background-image: url("../images/fondo_cultivador.webp");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.form-control {
    background-color:transparent;
}

b {
    text-shadow: 0.1em 0.1em 0.2em white;
    color: black;
}

.botones {
    margin-bottom: 40px;
}

.btn-warning {
    margin-left: 40px;
    box-shadow: 2px 2px black;
}

.btn-success {
    box-shadow: 2px 2px black;
}

.botones img {
    height: 1.5rem;
    border-radius: 100px;
} 

h3 {
    text-align: center;
    
}

.logo {
    height: 3.5rem;
}

#barra {
    background-color: rgb(44, 82, 44);
    color: white;
    padding: 20px;
    border-radius: 10px;
}